html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  color: #3a3a3a;
  box-sizing: border-box;
}

body {
  background: #fffefa url("chrome://global/skin/media/imagedoc-lightnoise.png");
}

h1,
h2,
h3,
h4 {
  color: #242424;
}

h1 {
  margin-top: 10rem;
}

h2 {
  position: relative;
  z-index: 2;
  font-size: 2rem;
  margin: 20vh 0 10vh 0;
}

h2::after,
h1::after {
  width: fit-content;
  display: block;
  content: '';
  border-bottom: 1.3rem solid #FFE86F;
  width: 10%;
  margin: -1.5rem 0 0 .5rem;
}

h3 {
  margin-top: 10vh;
}

h4 {
  margin-top: 2rem;
  font-weight: 500;
}

a {
  color: #3a3a3a;
}

ul {
  font-size: .9rem;
}

li {
  line-height: 1.7;
  padding: .3rem 2rem;
  text-decoration: none;
}

span {
  font-weight: 600;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text_wrapper {
  display: flex;
  flex-direction: column;
}

.text {
  width: 50%;
}

.tight {
  width: 65%;
}

.about_project,
.process,
.conclusions,
.information_architecture,
.wireframes,
.proto_wrapper,
.hi-fi {
  padding: 0 8vw;
}

.home {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  background-image: url("img/bg.png");
  background-size: cover;
  padding: 3vh 3vw 0 3vw;
  margin-bottom: -15vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.menu {
  width: 50vw;
  display: flex;
  justify-content: space-between;
  color: white;
  margin: 0;
  list-style: none;
}

.menu li {
  white-space: nowrap;
}

.menu li:hover {
  font-weight: 600;
  cursor: pointer;
}

.design_system_img {
  width: 65vw;
}

.logo_wrapper {
  display: flex;
}

.logo {
  height: 90px;
  width: 100px;
  background-image: url("img/Logo.png");
  background-size: cover;
  margin: .6vh 1vw 0 0;
}

.big_head {
  font-size: 50px;
  margin: 0;
  font-weight: 700;
  line-height: 3;
}

.subtitle {
  font-weight: 500;
  margin-bottom: 2rem;
}

.home_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.home_content_wrapper {
  margin: 20vh 0;
}

.info_content_wrapper {
  display: flex;
}

.info_column {
  margin-right: 3rem;
}

.head_info_para {
  margin: 1rem;
  margin-left: 0;
}

.neck_info_para {
  margin: 0 1rem 0 0;
  color: #8B009E;
}

.underline_left,
.underline_right {
  width: 40vw;
  margin-top: 5rem;
}

.underline_left {
  margin-left: 3vw;
}

.underline_right {
  position: absolute;
  right: 3vw;
}

.tools_wrapper,
.tool {
  display: flex;
}

.tool {
  align-items: flex-end;
  margin-right: 3rem;
}

.tool_img {
  height: 3rem;
}

.tool_para {
  margin: 0 0 -.2rem .5rem;
}

.logo_pattern_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}

.logo_pattern h2 {
  margin-top: 0;
}

.logo_pattern_img {
  width: 40vw;
}

.logo_pattern_characteristic {
  padding: 0;
  list-style: none;
  width: 35vw;
}

.logo_pattern_characteristic li {
  margin-top: .8rem;
}

.process_desk_research_wrapper {
  margin: 20vh 0 10vh 0;
}

.process_desk_research {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8vh;
}

.process_desk_research h2 {
  margin: 0;
  margin-right: 3rem;
}

.process_desk_research_img {
  width: 37%;
}

.large_img {
  width: 100%;
  margin-bottom: 1rem;
}

.miro,
.miro_right {
  display: flex;
  align-items: baseline;
}

.miro a:hover,
.miro_right a:hover {
  font-weight: 600;
}

.miro_right {
  justify-content: flex-end;
}

.miro_icon {
  height: 2rem;
}

.miro_link {
  margin: 0 0 0 .5rem;
}

.user_research_wrapper {
  margin-top: 5rem;
}

.user_research_wrapper .underline_left {
  margin-left: -7vw;
}

.user_research_questions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8vh;
}

.user_research_questions_content ul {
  width: 35vw;
}

.user_research_illustration {
  width: 35vw;
}

.user_research_methods {
  margin: 3rem 0;
}

.user_research_methods_wrapper {
  display: flex;
}

.user_research_methods_wrapper p {
  color: #242424;
}

.highlight_para {
  border: 3px solid #FFE86F;
  padding: 0 .7rem;
  border-radius: 4rem;
  margin-right: 3rem;
}

.IDI_output {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.IDI_output h3 {
  margin-top: 0;
}

.IDI_output ul {
  width: 50vw;
}

.user_research_IDI h3 {
  margin-top: 0;
}

.user_research_IDI {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 5rem;
}

.user_research_img {
  width: 15vw;
  margin-left: 5vw;
}

.no_dashes {
  word-wrap: break-word;
  padding: 0;
}

.no_dashes li {
  margin: .7rem 0;
  padding: 0;
}

.research_analysis_top,
.research_analysis_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5vh;
}

.research_analysis_top ul {
  width: 70%;
}

.research_analysis_top p {
  margin: 0;
}

.quote {
  background-image: url("img/quote.png");
  background-size: cover;
}

.research_analysis_img {
  width: 30vw;
}

#larger {
  width: 45vw;
}

.research_analysis_conclusions {
  list-style: none;
  width: 60%;
  padding: 0;
}

.research_analysis_conclusions li {
  padding: 0;
}

.surveys_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.surveys_questions {
  width: 32vw;
}

.surveys_questions li {
  margin: .5rem 0;
}

.surveys_img {
  width: 25vw;
}

.chart_wrapper {
  display: flex;
  justify-content: center;
}

.survey_data,
.chart {
  width: 100%;
  margin-top: 5vh;
}

.surveys p {
  margin-top: 10vh;
}

.chart {
  margin-bottom: 1rem;
}

.about_project_bg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 9vh;
}

.about_project_img {
  width: 35vw;
}

.about_project_explication {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}

.about_project_explication div:nth-child(1) {
  margin-right: 10rem;
}

.about_project_explication_signature {
  font-size: .7rem;
  font-weight: 500;
}

.process_desk_research p {
  width: 40vw;
}

.research_img_wrapper {
  display: flex;
  justify-content: center;
  margin: 10vh 0;
}

.research_img {
  width: 80vw;
}

.mvp_wrapper {
  padding: 6vh 10vh 0 10vh;
}

.mvp_img_wrapper {
  display: flex;
  justify-content: space-between;
}

.mvp_img {
  width: 40vw;
}

.mvp_functions {
  width: 20vw;
}

.persona_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20vh;
}

.personas_img_wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 8vh;
}

.personas_img {
  width: 45%;
}

#personas_img1 {
  margin-top: 10vh;
}

#personas_img2 {
  margin-bottom: 10vh;
}

.information_architecture_img {
  margin-top: 6rem;
  width: 84vw;
}

.wireframes {
  display: flex;
  flex-direction: column;
}

.wireframes_img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2vh;
}

.para {
  display: flex;
  justify-content: end;
}

.proto_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.proto_click {
  position: absolute;
  top: 50%;
  width: 20vw;
  height: 14vw;
}

.embed_documentation_footer--documentationFooter--o0SFt {
  display: none !important;
}

.header--headerClear--14eAa,
.header--headerHidden--PE8nn {
  border-bottom: none !important;
}

iframe {
  width: 84vw;
  height: 40rem;
  border: none;
  color: white;
}

.grey {
  position: relative;
  background-color: #fdfcf8;
  width: 100vw;
  height: 5rem;
  margin-top: -5rem;
}

.embed_documentation_footer--documentationFooter--o0SFt {
  display: none !important;
  background-color: transparent !important;
  color: transparent !important;
}

.hi-fi {
  margin-top: 12rem;
}

.hi-fi_img {
  width: 50vw;
  margin-top: 8rem;
}

.about_me {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-left: 10vw;
  margin-bottom: 10vh;
  background-size: cover;
}

.about_me h2 {
  margin-bottom: 4rem;
}

.about_me_wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.about_me_img {
  width: 60vw;
  position: absolute;
  right: 0;
  top: -25vh;
}

.my_technologies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40vw;
  margin-top: 4vh;
  margin-bottom: 2vh;
}

.my_technologies h2 {
  margin-top: 0;
}

.tech_skill_wraper div {
  display: flex;
}

.tech_skill {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  margin-right: 3rem;
  font-size: .8rem;
}

.tech_skill_margin {
  margin-bottom: 1rem;
}

.tech_skill p {
  margin: 0;
}

.tech_skill_icon {
  width: 2vw;
}

.mail {
  display: flex;
}

.mail_address {
  display: none;
  line-height: 3;
  margin: 0;
}

.contact_img_wrapper {
  display: flex;
}

.contact {
  display: flex;
  flex-direction: column;
}

.contact_img,
.mail_img {
  width: 1.5rem;
  height: 1.5rem;
}

.contact_img:hover,
.mail_img:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.contact_img {
  margin-right: 1rem;
}

.mail_img {
  margin-right: .3rem;
}

footer {
  display: flex;
  justify-content: flex-end;
}

footer p {
  width: 100%;
  text-align: end;
  padding: .2rem;
  background-color: #242424;
  color: white;
  font-size: .8rem;
  margin: 0;
}

.arrow {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 3;
  background-image: url(img/arrow.png);
  background-size: cover;
  width: 4rem;
  height: 4rem;
  opacity: .85;
}

.arrow:hover {
  opacity: 1;
  cursor: pointer;
}
